---
import Layout from '../../layouts/Layout.astro';
import WarehouseStorage from '../../components/tracking/WarehouseStorage.jsx';

const page = Number(Astro.url.searchParams.get("page") || 1);
const limit = 10;

const response = await fetch(new URL(`/api/tracking/warehouse-storage?page=${page}&limit=${limit}`, Astro.url));
const { data: warehouseItems, count } = await response.json();
---



<Layout>
  <div class="w-full max-w-[100%] bg-primary rounded-md mx-auto p-6 text-textColor-primary font-poppins">
    <!-- Title -->

    <!-- Table -->
    <WarehouseStorage 
      client:load 
      initialItems={warehouseItems} 
      page={page} 
      total={count} 
      limit={limit} 
    />



  </div>

  


</Layout>
